.wbdv-nav {
  border-radius: 10px;
  white-space: nowrap;
  font-weight: bolder;
  font-size: large;
}
.wbdv-nav-title {
  font-size: x-large;
  float: left;

}
.wbdv-margin-below {
  margin-bottom: 5px;
}
.wbdv-module-item-delete-btn {
  float: right;
}
.wbdv-day {
  font-weight: bold;
  font-size: large;
  margin-top: 10px;
  margin-bottom: 5px;
}
.wbdv-header {
  float: left;
}
.wbdv-other-headers {
  width: 18%;
}
.wbdv-main-header {
  width: 28%;
}
#wbdv-top-row {
  margin-bottom: 5px;
}
#wbdv-search {
  display: flex;
  border-radius: 10px;
  white-space: nowrap;
  width: 99%;
  justify-content: space-between;
  position: relative;
  vertical-align: middle;
}
.wbdv-add {
  color: black;
  white-space: nowrap;
  position: relative;
  vertical-align: middle;
}
.wbdv-grid {
  text-align: center;
}
.wbdv-icon {
  color: black;
}
.wbdv-course-title {
  font-size: x-large;
  font-weight: bold;
}
.wbdv-selected {
  color: white;
}