#wbdv-module-list {
  border-radius: 10px;
  font-weight: lighter;
}
#wbdv-lesson-list {
  border-radius: 10px;
  color: aliceblue;
}
#wbdv-secondary-nav {
  background-color: #6c757da6;
}
#wbdv-topic-add-btn {
  color: #007bff;
}
#wbdv-save {
  margin-left: 10px;
}
#wbdv-preview {
  margin-right: 10px;
}
#wbdv-text-box {
  resize: vertical;
  overflow: auto;
  overflow-x: hidden;
  display: inline-block;
}
.wbdv-category {
  margin-top: 20px;
  margin-left: 10px;
}
.wbdv-nav {
  border-radius: 10px;
}
.wbdv-nav-title {
  font-size: x-large;
  float: left;
}
.wbdv-module {
  background-color: lightgray;
}
.wbdv-bold {
  font-weight: bolder;
}
.wbdv-module.wbdv-selected {
  background-color: darkgray;
}
.wbdv-margin-below {
  margin-bottom: 40px;
}
.wbdv-module-item-delete-btn {
  float: right;
}
.wbdv-module-item-add-btn {
  float: right;
  white-space: nowrap;
}
.wbdv-new-page-btn {
}
.wbdv-white-icon {
  color: white;
}
.wbdv-topic-info {
  border-style: solid;
  border-color: #6c757da6;
  border-radius: 10px;
  margin-right: 15px;
}
.wbdv-widget-info {
  border-style: solid;
  border-color: #6c757da6;
  border-radius: 10px;
  margin-right: 15px;
  margin-top: 10px;
  margin-left: 10px;
}
.wbdv-heading-widget {
  margin-top: 10px;
}
.wbdv-heading-widget h4 {
  display: inline;
  margin-top: 5px;
}
.wbdv-edit-widget {
  margin-top: 10px;
}
.wbdv-edit-widget .row {
  justify-content: flex-end;
}

.row-right {
  justify-content: flex-end;
}
.wbdv-arrow {
  background-color: white;
}
.wbdv-delete {
  background-color: white;
  color: black;
}

.wbdv-preview {
  font-size: large;
}

.wbdv-preview-icon {
  vertical-align: middle;
}